body
{ background-image: url("https://thumbs.gfycat.com/AshamedInferiorIntermediateegret-max-1mb.gif"); }

.buttons
{  }

.layer
{border: 100;}

.grid
{
 background-image: url("https://bestanimations.com/media/snakes/1713015125snake-scales-animation-gif-3.gif");
 /* background-color: azure; */
 align-items: center;
}
