body
{ background-image: url("https://thumbs.gfycat.com/AshamedInferiorIntermediateegret-max-1mb.gif"); }

.buttons
{  }

.layer
{border: 100;}

.grid
{
 background-image: url("https://monophy.com/media/MLPzhpktsj1cc/monophy.gif");
 /* background-color: azure; */
 align-items: center;
}