*{
    margin: 0;
    padding: 0;    
}

.header_main{
    display: flex;    
    padding: 2vh 1vw;
}
.header_main .hrcLogo {
position: absolute;
left: 44%;
transform: scaleX(50%,50%);
}

.header_main .logo img ,.header_main .hrcLogo img  {    
    height: 3.2vw; 
       
}

