body {
  font-family: "Open Sans", sans-serif;
  margin-top: 5vh;
  background-color: white;
  color: black;
  /* border: 10vh solid #20273a; */
}

/* th {
  background-color: white;
  color: black;
}
tbody {
  background-color: white;
  color: black;
} */

.container {
  text-align: center;
  width: 100%;
  font-size: 3vh;
}
.container td,
.container th {
  width: 25%;
  padding-bottom: 3vh;
  padding-top: 3vh;
  padding-left: 3vh;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
