.App {
  height: fit-content;
  width: 100vw;
}

.App-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.App-logo {
  width: 6rem;
  animation: logoAnimation 3s infinite linear;
}

.logo-title {
  font-size: 2rem;
}

@keyframes logoAnimation {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.counter-section {
  padding: 5rem;
}

.new-button {
  padding: 0.3rem;
  margin: 0.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  background-color: coral;
  border-radius: 0.2rem;
  color: #fff;
  border: 0px;
  width: 10rem;
}

.display-value {
  font-size: 4rem;
}

.counter-view {
  text-align: center;
}

.component-container {
  display: flex;
  justify-content: space-between;
}

/* Redux view */

.container {
  height: 100vh;
  width: 100vw;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
}

.col-6 {
  height: inherit;
  width: 50%;
  padding: 5rem;
}

.bg-yellow {
  background-color: #fee715ff;
}
.txt-yellow {
  color: #fee715ff;
}

.txt-dark {
  color: #222326;
}

.counter-title,
.counter-value {
  font-size: 5rem;
  font-weight: 700;
  font-style: italic;
}

.incbutton {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}
